<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.0.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Main</title>
</head>
<body>
<div style="height: 100px"></div>
<div class="container">
    <h2>Sangwon Company User List</h2>
    </br>
    </br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>No</th>
            <th>Email</th>
            <th>Name</th>
            <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userInfoLength} == '0'">
            <td colspan=4>No! user data</td>
        </tr>
        <tr th:unless="${userInfoLength} == '0'" th:each="user : ${userInfo}">
            <td><a th:href="@{'/user/edit/'+${user.id}}" th:text="${user.id}"></a></td>
            <td th:text="${user.email}">brian@gmail.com</td>
            <td th:text="${user.name}">Brian</td>
            <td th:text="${#temporals.format(user.createdAt,'yyyy-MM-dd')}">2019-05-13</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>